{% extends 'base.html.twig' %}

{% block title %}Hello TeamsController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-1">Team {{ team.title }}!</h1>
    <div style="width: 600px; height: 600px;">
        {{ render_chart(chart) }}
    </div>
</div>
{% endblock %}
