{% extends 'base.html.twig' %}

{% block title %}Technical Peer Review for Teams!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-1">Technical Peer Reviews!</h1>

        <h2>Have fun!</h2>
    </div>
{% endblock %}
