{% extends 'base.html.twig' %}

{% block title %}Technical Peer Review for Teams!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-1">Technical Peer Reviews!</h1>

        <div class="mt-5">
            <h2>Step one: Define topics and add developers</h2>
            <img src="{{ asset('images/team-overview.png')}}" width="400" alt="List of topics and developers of a team"/>
        </div>

        <div class="mt-5">
            <h2>Step two: Every developer gets a personalized url, where the assessment can be made</h2>
            <img src="{{ asset('images/developer-overview.png')}}" width="400" alt="List of assessments"/>
        </div>

        <div class="mt-5">
            <h2>Step three: Every developer does a self assessment and an assessment of every other developer</h2>
            <img src="{{ asset('images/self-assessment.png')}}" width="400" alt="List of assessments"/>
        </div>

        <div class="mt-5">
            <h2>Profit!</h2>
            <p>Every developer sees a spider graphics of</p>
            <ul class="list">
                <li>Team average</li>
                <li>Their self assessment</li>
                <li>Average of assessments of others</li>
            </ul>
            <img src="{{ asset('images/spider.png.png')}}" width="400" alt="List of assessments"/>
        </div>

    </div>
{% endblock %}
